# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Node
node_modules/
build/
.cache/

# Env
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

#OS
.DS_Store
Thumbs.db

# Project-specific
*.log
*.sqlite3