
.graphes-container {
  width: 100%;
}


.graphes-row {
  display: flex;
  gap: 24px; 
  width: 100%;
  margin-bottom: 24px;
}

.graphes-row:last-child {
  margin-bottom: 0;
}


.graphe-col {
  flex: 1;
  width: 50%;
}


.graphe-card {
  padding: 16px;
  border-radius: 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  border: 1px solid #f0f5f9;
  transition: 0.3s;
  background-color: white;
}

.graphe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}


.graphe-title {
  font-weight: 700;
  margin-bottom: 8px;
  color: #334155;
  font-size: 0.875rem; 
}

.chart-wrapper {
  flex-grow: 1;
  min-height: 0;
}
