# =========================
# PostgreSQL
# =========================
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB_NAME

# =========================
# InfluxDB
# =========================
INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=
INFLUXDB_BUCKET=



# =========================
# JWT Security
# =========================
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=

# =========================
# Frontend URLs
# =========================
REACT_APP_API_URL=
FRONTEND_URL=

# =========================
# Email Configuration
# =========================
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_PORT=
EMAIL_SERVER=smtp.gmail.com
EMAIL_STARTTLS=
EMAIL_SSL_TLS=
EMAIL_USE_CREDENTIALS=